---
services:
  sysvinit:
    nginx:
      files:
        - /etc/nginx/local.d/10_elb_healthcheck_200.conf
        - /etc/nginx/local.d/20_http_to_https.conf
        - /opt/elasticbeanstalk/hooks/appdeploy/post/90_nginx_local.sh
      commands:
        - nginx_local

commands:
  nginx_local:
    command: /opt/elasticbeanstalk/hooks/appdeploy/post/90_nginx_local.sh

files:
  /etc/nginx/local.d/10_elb_healthcheck_200.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      if ($http_user_agent ~ (^ELB-HealthChecker)) {return 200;}

  /etc/nginx/local.d/20_http_to_https.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      if ($http_x_forwarded_proto != "https") {return 301 https://$host$request_uri;}

  /opt/elasticbeanstalk/hooks/appdeploy/post/90_nginx_local.sh:
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe

      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      for webapp_conf in ${EB_SUPPORT_DIR}/conf/webapp*; do
        if ! grep -q "/etc/nginx/local.d" ${webapp_conf}; then
          sed -i.bak '/location \/ {/i\
        include /etc/nginx/local.d/*.conf;\n'\
          ${webapp_conf}
        fi
      done
...
