---
services:
  sysvinit:
    nginx:
      files:
        - /etc/nginx/local.d/91_buzz.conf
      commands:
        - nginx_remove_duplicate

commands:
  nginx_remove_duplicate:
    cwd: /etc/nginx/conf.d/
    command:
      - sed
      - '-i.bak'
      - '-re'
      -  '/^[[:space:]]*location[[:space:]]+\/[[:space:]]+{[[:space:]]*$/,/^[[:space:]]*}[[:space:]]*$/d'
      - *.conf
    test:
      - grep
      - '-qE'
      - '^[[:space:]]*location[[:space:]]+\/[[:space:]]+{[[:space:]]*$'
      - *.conf

files:
  /etc/nginx/local.d/91_buzz.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      location / {
        alias /var/app/current/public/;
        try_files $uri $uri/ @proxy;
        gzip_static on;
        gzip on;
        expires max;
        add_header Cache-Control public;
      }
      location @proxy {
        proxy_pass http://my_app; # match the name of upstream directive which is defined above
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      }
...
