---
services:
  sysvinit:
    nginx:
      files:
        - /etc/nginx/local.d/91_buzz.conf
      commands:
        - nginx_remove_duplicate

commands:
  nginx_remove_duplicate:
    command: sed -i.bak -e '/^[[:space:]]*location[[:space:]]+\/[[:space:]]+{[[:space:]]*$/,/^[[:space:]]*}[[:space:]]*$/d' /etc/nginx/conf.d/*
    test: |
      !grep -q '^[[:space:]]*location[[:space:]]+\/[[:space:]]+{[[:space:]]*$' /etc/nginx/conf.d/*

files:
  /etc/nginx/local.d/91_buzz.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      location / {
        alias /var/app/current/public/;
        try_files $uri $uri/ @proxy;
        gzip_static on;
        gzip on;
        expires max;
        add_header Cache-Control public;
      }
      location @proxy {
        proxy_pass http://my_app; # match the name of upstream directive which is defined above
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      }
...
