---
services:
  sysvinit:
    nginx:
      files:
        - /etc/nginx/default.d/98_nginx_health_override.conf
        - /opt/elasticbeanstalk/hooks/appdeploy/pre/98_nginx_health_override.sh

commands:
  01_98_nginx_health_override:
    command: /opt/elasticbeanstalk/hooks/appdeploy/pre/98_nginx_health_override.sh

files:
  /etc/nginx/default.d/98_nginx_health_override.conf:
    content: |
      if ($http_user_agent ~ (^ELB-HealthChecker)) {return 200;}

  /opt/elasticbeanstalk/hooks/appdeploy/pre/98_nginx_health_override.sh:
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe

      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      for webapp_conf in ${EB_SUPPORT_DIR}/conf/webapp*; do
        if ! grep -q "ELB-HealthChecker" ${webapp_conf}; then
          sed -i '/location \/ {/i\
        if ($http_user_agent ~ (^ELB-HealthChecker)) {return 200;}'\
           ${webapp_conf}
        fi
      done
...
