---
services:
  sysvinit:
    nginx:
      files:
        - /etc/nginx/default.d/99_nginx_http_redirect.conf
        - /opt/elasticbeanstalk/hooks/appdeploy/pre/99_nginx_http_redirect.sh

commands:
  01_99_nginx_http_redirect:
    command: /opt/elasticbeanstalk/hooks/appdeploy/pre/99_nginx_http_redirect.sh

files:
  /etc/nginx/default.d/99_nginx_http_redirect.conf:
    content: |
      if ($http_x_forwarded_proto != "https") {return 301 https://$host$request_uri;}

  /opt/elasticbeanstalk/hooks/appdeploy/pre/99_nginx_http_redirect.sh:
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe

      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      for webapp_conf in ${EB_SUPPORT_DIR}/conf/webapp*; do
        if ! grep -q "return 301 https://" ${webapp_conf}; then
          sed -i '/location \/ {/i\
        if ($http_x_forwarded_proto != "https") {return 301 https://$host$request_uri;}'\
          ${webapp_conf}
        fi
      done
...
