---
services:
  sysvinit:
    nginx:
      files:
        - /opt/elasticbeanstalk/hooks/appdeploy/pre/10_webapp_root.sh

commands:
  01_webapp_root:
    command: /opt/elasticbeanstalk/hooks/appdeploy/pre/10_webapp_root.sh

files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/10_webapp_root.sh:
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe

      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      for webapp_conf in ${EB_SUPPORT_DIR}/conf/webapp*; do
        if ! grep -q "root /var/app/current/public;" ${webapp_conf}; then
          sed -i '/location \/ {/i\
        root /var/app/current/public;'\
           ${webapp_conf}
        fi
      done
...
